body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    aling-items: center;
    height: 15vh;
    font-family: Consolas
    background-color: #333;
}

.text {
    background: linear-gradient(135deg, #ffec61, #f321d7);
    box-shadow: -10px 10px 90px linear-gradient(135deg, #ffec61, #f321d7);
}
