@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

body{
	font-family: 'Seymour One', cursive;
	text-align: center;
	background: rgba(158, 223, 255, 1);
	color: #fff;
}
.main-text{
	margin-top: 50px;
	background: url(1.jpeg);
	font-size: 75px;
	color: transparent;
	-webkit-background-clip: text;
	background-position: 10% 0;
	user-select: none;
}
